<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.monitor.dao.IDeviceStatusDao">

    <sql id="sql_choose">
        SELECT
            id,
            function_room functionRoom,
            device_type deviceType,
            p_name pointName,
            p_value pointValue,
            collect_time collectTime,
            modify_time modifyTime,
            modify_user modifyUser
        FROM
    </sql>

    <select id="getInTimeData" resultType="com.monitor.entity.mpModel.DeviceStatusModel">
        <include refid="sql_choose"/>
        (
            SELECT
              p_name AS pName,
              device_type AS deviceType,
              MAX(collect_time) AS maxTime
            FROM
              device_switch
            GROUP BY
                p_name,
                device_type
        ) t1
        LEFT JOIN device_switch t2 ON t1.maxTime = t2.collect_time
            AND t1.pName = t2.p_name
            AND t1.deviceType = t2.device_type
        <if test="list != null">
            WHERE
              function_room IN
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
